.git/
.github/
.vscode/
.idea/

.venv/
__pycache__/
*.py[cod]
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
test-results.xml

ci/
doc/
local_test/
tests/

.env
.env.*

CHANGELOG.md
CONTRIBUTING.md
LICENSE
run.bat
run.sh
run_windows.sh
dev.Dockerfile
