PREFECT_API_URL=http://localhost:4200/api
PREFECT_API_AUTH_STRING=admin:password

MINIO_HOST=omotes-minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=omotesadmin
MINIO_SECRET=password

INFLUX_HOST=omotes_influxdb
INFLUX_PORT=8096
INFLUX_USERNAME=root
INFLUX_PASSWORD=9012

POSTGRES_HOST=omotes_postgres
POSTGRES_PORT=6432
POSTGRES_USERNAME=omotes_timeseries_rw
POSTGRES_PASSWORD=somepass4

WORKFLOW_SETTINGS_FILE=./config/workflow_config_nwn_no_gurobi.json

LOG_LEVEL=INFO