APP_PORT=9200

PREFECT_API_URL=http://localhost:4200/api
PREFECT_WORK_POOL_NAME="docker-worker"

PREFECT_SERVER_API_URL=http://prefect-server:4200/api
PREFECT_API_AUTH_STRING=admin:password

WORKFLOW_SETTINGS_FILE=./config/workflow_config_nwn_no_gurobi.json

LOG_LEVEL=INFO