PREFECT_API_URL=http://localhost:4200/api
PREFECT_API_AUTH_STRING=admin:password

MINIO_HOST=omotes-minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=omotesadmin
MINIO_SECRET=password

WORKFLOW_SETTINGS_FILE=./config/workflow_config_nwn_no_gurobi.json

LOG_LEVEL=INFO